<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
    <link rel="stylesheet" href="/node_modules/milligram/dist/milligram.css">
    <link rel="stylesheet" href="https://milligram.github.io/styles/main.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="column">
            <input type="file" id="uploadFile">
            <!--<label for="uploadFile">Select some files</label>-->
        </div>
    </div>
    <div id="body"></div>
    <div class="row">
        <div class="column">.column</div>
        <div class="column">.column</div>
    </div>
</div>
</body>
</html>